{% load static %}
<section>
        <header>
            <nav class="navbar navbar-expand p-4 bg-light-subtle fixed-top">
                <h3 class="mx-3 text-secondary nav-text fw-bold">
                   
               Ebonyi Art Center

            </h3>


<menu class="collapse navbar-collapse" style="float: left;">
    <ul class="nav ms-auto">

        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Features</a>
        </li>

        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">About</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Contact</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">Support</a>
        </li>
        <li class="nav-link">
            <a href="#" class="text-decoration-none text-secondary fw-bold">FAQs</a>
        </li>

        
        
    </ul>
    
</menu>
</nav>
</header>
</section>